<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="">
		<title>WALKER</title>
		<link rel="icon" href="/static/images/shortcut.png" type="image/x-icon" />
		<link rel="shortcut icon" href="/static/images/shortcut.png" type="image/x-icon" />

        <!-- Bootstrap Core CSS -->

        <link href="/static/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom Fonts -->
        <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

        <!-- Custom CSS -->
		<link rel="stylesheet" href="/static/css/patros.css" >
        
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
		<![endif]-->
		<script src="/static/js/version.js"></script>
		<!-- jQuery -->
		<script src="/static/js/jquery-2.1.1.min.js"></script>
		<!-- Bootstrap Core JavaScript -->
		<script src="/static/js/bootstrap.min.js"></script>
		<script>
			function addTouchClass(o) {
				$(o).addClass("blog-thumb_active");
			}
			function removeTouchClass(o) {
				$(o).removeClass("blog-thumb_active");
			}
		</script>
	</head>

	<body data-spy="scroll">
		<span id="currCate" th:text="${currCate}" style="display: none;"></span>
		<span id="currPosition" th:text="${position}" style="display: none;"></span>
		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#"><img src="/static/images/logo.png" alt="company logo"/></a>
				</div>
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right custom-menu">
						<li><a href="/index#home">主页</a></li>
						<li><a href="/index#bloghome">新闻</a></li>
						<li><a href="/services">功能</a></li>
						<li><a href="/index#meet-team">成员</a></li>
						<li><a href="/index#portfolio1">作品</a></li>
						<li><a href="/index#contact">找我</a></li>
						<li class="active"><a href="/blog">博客</a></li>
						<li><a href="/singlepost">头条</a></li>
					</ul>
				</div>
			</div>
		</nav>

		<!-- Page Content -->
		<section class="container blog">
			<div class="row">
		        <!-- Blog Column -->
		        <div class="col-md-8">
		            <h1 class="page-header sidebar-title">
		                新闻消息
		            </h1>
		            <!-- First Blog Post -->
		            <div class="row blogu"  th:each="blog:${blogItems}" th:id="${blog.getId()}">
		                <div class="col-sm-4 col-md-4 ">
		                    <div class="blog-thumb" ontouchstart="addTouchClass(this)" ontouchend="removeTouchClass(this)">
		                        <a href="#" th:href="@{'/singlepost?id='+ ${blog.id}}">
		                            <img th:if="${blog.firstImgUrl != null}" class="img-responsive" th:src="@{${blog.firstImgUrl}}" alt="photo">
									<img th:if="${blog.firstImgUrl == null}" class="img-responsive" src="/static/images/blog2.jpg" alt="photo">
		                        </a>
		                    </div>
		                </div>
		                <div class="col-sm-8 col-md-8">
		                    <h2 class="blog-title">
		                        <a href="#" th:href="@{'/singlepost?id='+ ${blog.id}}" th:text="${blog.title}"></a>
		                    </h2>
		                    <p><i class="fa fa-calendar-o"></i> <span th:text="${blog.createTime}"></span>
		                        <span class="comments-padding"></span>
		                        <i class="fa fa-comment"></i> <span th:text="${blog.viewCount}"></span> 浏览
		                    </p>
		                    <p th:text="${blog.brief}" style="width: 90%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;"></p>
							<p th:text="${blog.content}" style="width: 100%; text-indent: 30px"></p>
		                </div>
		            </div>
		            <div class="text-center"> 
		                <ul class="pagination"> 
		                    <li th:each="p:${pageNums}" th:class="${p == curr} ? 'active'"> <a href="#" th:href="@{'/blog?pageNum=' + ${p} + '&cate=' + ${currCate}}" th:text="${p}">1</a> </li>
		                    <li th:if="${showNext}"> <a href="#" th:href="@{'/blog?pageNum=' + ${next} + '&cate=' + ${currCate}}">下一页</a> </li>
		                </ul> 
		            </div>
		        </div>
				<!-- Blog Sidebar Column -->
				<aside class="col-md-4 sidebar-padding">
					<div class="blog-sidebar">
						<div class="input-group searchbar">
							<input type="text" class="form-control searchbar" placeholder="查找...">
							<span class="input-group-btn">
							<button class="btn btn-default" type="button">查找</button>
							</span>
						</div><!-- /input-group -->
					</div>
					<!-- Blog Categories -->
					<div class="blog-sidebar">
						<h4 class="sidebar-title"><i class="fa fa-list-ul"></i> 类别</h4>
						<hr>
						<ul class="sidebar-list" th:each="cate:${blogCates}">
							<li><a href="#" th:href="@{'/blog?cate=' + ${cate.code}}" th:text="${cate.category}"></a></li>
						</ul>
					</div>
					<!-- Recent Posts -->
					<div class="blog-sidebar" id="recentPosts">
						<h4 class="sidebar-title"><i class="fa fa-align-left"></i> 最近新闻</h4>
						<hr style="margin-bottom: 5px;">

						<div id="blogTemplate" class="media" style="display: none">
							<a class="pull-left" href="#">
								<img class="img-responsive media-object" src="/static/images/blog1.jpg" alt="Media Object">
							</a>
							<div class="media-body">
								<h4 class="media-heading"><a href="#">Post title 1</a></h4>
								<p style="width: 100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;">This is some sample text. This is some sample text. This is some sample text.</p>
							</div>
						</div>

					</div>

					<div class="blog-sidebar">
						<h4 class="sidebar-title"><i class="fa fa-comments"></i> 最新评论</h4>
						<hr style="margin-bottom: 5px;">
						 <ul class="sidebar-list" id="commentContainer">
							<li id="commentTemplate" style="display: none"><h5 class="blog-title" style="float:left; margin-right: 10px;"></h5> <a></a> <p></p>
							</li>
						</ul>
					</div>

				</aside>
			</div>
		</section>


		<section id="contact">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="col-lg-12">
							<div class="text-center color-elements">
								<h2>给我发邮件</h2>
							</div>
						</div>
						<div class="col-lg-6 col-md-8">
							<form class="inline" id="contactForm" method="post" >
								<div class="row">
									<div class="col-sm-6 height-contact-element">
										<div class="form-group">
											<input type="text" name="first_name" class="form-control custom-labels" id="name" placeholder="姓 名" required data-validation-required-message="请输入您的姓名!"/>
											<p class="help-block text-danger"></p>
										</div>
									</div>
									<div class="col-sm-6 height-contact-element">
										<div class="form-group">
											<input type="email" name="email" class="form-control custom-labels" id="email" placeholder="邮 箱" required data-validation-required-message="请输入邮箱地址!"/>
											<p class="help-block text-danger"></p>
										</div>
									</div>
									<div class="col-sm-12 height-contact-element">
										<div class="form-group">
											<input type="text" name="message" class="form-control custom-labels" id="message" placeholder="您想说的话" required data-validation-required-message="请输入邮件内容!"/>
										</div>
									</div>
									<div class="col-sm-3 col-xs-6 height-contact-element">
										<div class="form-group">
											<input type="submit" class="btn btn-md btn-custom btn-noborder-radius" value="发送"/>
										</div>
									</div>
									<div class="col-sm-3 col-xs-6 height-contact-element">
										<div class="form-group">
											<button type="button" class="btn btn-md btn-noborder-radius btn-custom" name="reset">重写
											</button>
										</div>
									</div>
									<div class="col-sm-3 col-xs-6 height-contact-element">
										<div class="form-group">
											<div id="response_holder"></div>
										</div>
									</div>
									<div class="col-sm-12 contact-msg">
										<div id="success"></div>
									</div>
								</div>
							</form>
						</div>
						<div class="col-lg-5 col-md-3 col-lg-offset-1 col-md-offset-1">
							<div class="row">
								<div class="col-md-12 height-contact-element">
									<div class="form-group">
										<i class="fa fa-2x fa-map-marker"></i>
										<span class="text">地址</span>
									</div>
								</div>
								<div class="col-md-12 height-contact-element">
									<div class="form-group">
										<i class="fa fa-2x fa-phone"></i>
										<span class="text">+86 13488788682</span>
									</div>
								</div>
								<div class="col-md-12 height-contact-element">
									<div class="form-group">
										<i class="fa fa-2x fa-envelope"></i>
										<span class="text">xibeiyizhi@163.com</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="follow-us">
			<div class="container"> 
				<div class="text-center height-contact-element">
					<h2>其他方式</h2>
				</div>
				<img class="img-responsive displayed" src="/static/images/short.png" alt="short" />
				<div class="text-center height-contact-element">
					<ul class="list-unstyled list-inline list-social-icons">
						<li class="active"><a href="#"><i class="fa fa-facebook social-icons"></i></a></li>
						<li><a href="#"><i class="fa fa-twitter social-icons"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus social-icons"></i></a></li>
						<li><a href="#"><i class="fa fa-linkedin social-icons"></i></a></li>
					</ul>
				</div>
			</div>
		</section>

		<footer id="footer">
			<div class="container">
				<div class="row myfooter">
					<div class="col-sm-6"><div class="pull-left">
						© Copyright Company 2019 | <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a>
					</div></div>
					<div class="col-sm-6">
						<div class="pull-right">Designed by ATIS / More Templates <a href="http://www.cssmoban.com/" target="_blank" title="Template">Templates' Home</a> - Collect from <a href="http://www.cssmoban.com/" title="HTML Template" target="_blank">HTML Template</a></div>
					</div>
				</div>
			</div>
		</footer>

        <!--Jquery Smooth Scrolling-->
        <script>
            $(document).ready(function(){
                $('.custom-menu a[href^="#"], .intro-scroller .inner-link').on('click',function (e) {
                    e.preventDefault();

                    var target = this.hash;
                    var $target = $(target);

                    $('html, body').stop().animate({
                        'scrollTop': $target.offset().top
                    }, 900, 'swing', function () {
                        window.location.hash = target;
                    });
                });

                $('a.page-scroll').bind('click', function(event) {
                    var $anchor = $(this);
                    $('html, body').stop().animate({
                        scrollTop: $($anchor.attr('href')).offset().top
                    }, 1500, 'easeInOutExpo');
                    event.preventDefault();
                });

               $(".nav a").on("click", function(){
                     $(".nav").find(".active").removeClass("active");
                    $(this).parent().addClass("active");
            	});

                $('body').append('<div id="toTop" class="btn btn-primary color1"><span class="glyphicon glyphicon-chevron-up"></span></div>');
                    $(window).scroll(function () {
                        if ($(this).scrollTop() != 0) {
                            $('#toTop').fadeIn();
                        } else {
                            $('#toTop').fadeOut();
                        }
                    }); 
                $('#toTop').click(function(){
                    $("html, body").animate({ scrollTop: 0 }, 700);
                    return false;
                });

            });
        </script>
		<script>
			$.ajax({
				url:"blog/list",
				data: {
					"cate" : $("#currCate").text()
				},
				type:"GET",
				contentType: 'text/json,charset=utf-8',
				dataType:"json",
				success:function (data) {
					let arr = eval(data);
					let temp = $("#blogTemplate");
					let container = $("#recentPosts");
					arr.forEach(function (blog) {
						let blogNode = $(temp).clone(true);
						blogNode.attr("id",blog.id);
						blogNode.find("p").text(decodeURIComponent(decodeURI(blog.brief)));
						blogNode.find(".pull-left").attr("href","/singlepost?id="+ blog.id);
						if (blog.firstImgUrl != null && blog.firstImgUrl) {
							blogNode.find("img").attr("src", setVersion(decodeURIComponent(decodeURI(blog.firstImgUrl))));
						} else {
							blogNode.find("img").attr("src", setVersion("/static/images/blog2.jpg"));
						}
						blogNode.find(".media-heading").find("a").text(decodeURI(blog.title));
						blogNode.find(".media-heading").find("a").attr("href","/singlepost?id="+ blog.id);
						blogNode.on('touchstart', function () {
							blogNode.find("img").addClass("media_img_active");
						});
						blogNode.on('touchend', function () {
							blogNode.find("img").removeClass("media_img_active");
						});
						blogNode.css("display", "block");
						container.append(blogNode);
					})
				},
				error:function (data) {

				}
			});

			$.ajax({
				url:"blog/comments",
				data: {
					"cate" : $("#currCate").text()
				},
				type:"GET",
				contentType: 'text/json,charset=utf-8',
				dataType:"json",
				success:function (data) {
					let arr = eval(data);
					let temp = $("#commentTemplate");
					let container = $("#commentContainer");
					arr.forEach(function (data) {
						let commentNode = $(temp).clone(true);
						commentNode.attr("id",data.comment.id);
						commentNode.find("p").text(decodeURI(data.comment.content));
						commentNode.find("h5").text(decodeURI(data.comment.author.name));
						commentNode.find("a").text(decodeURI(data.title));
						commentNode.find("a").attr('href','/singlepost?id=' + data.blogId);
						commentNode.css("display", "block");
						container.append(commentNode);
					})
				},
				error:function (data) {

				}
			});

			if ($("#currPosition").text()) {
				var pos = "#" + $("#currPosition").text();
				$("html,body").animate({scrollTop: $(pos).offset().top - $(".navbar").height() - 50}, 500);
			}
		</script>
    </body>
</html>