<!DOCTYPE html>
<html lang="en" xmlns:http="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>index</title>
    <link href="/static/index.css" rel="stylesheet" type="text/css" />

    <script>

    </script>
</head>
<body>
    <div id="lt" class="corner" ></div>
    <div id="rt" class="corner" ></div>
    <div id="lb" class="corner" ></div>
    <div id="rb" class="corner" ></div>
    <div id="content">
        <div id="father" class="tab"></div>
        <div id="daughter" class="tab"></div>
        <div id="son" class="tab"></div>
        <div id="mother" class="tab"></div>
    </div>
</body>
</html>