<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="ATIS">

    <title>PATROS</title>

    <!-- Bootstrap Core CSS -->

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="/static/css/patros.css" >

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="/static/js/echarts.js"></script>
</head>
<body data-spy="scroll">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="/static/images/logo.png" alt="company logo" /></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right custom-menu">
                    <li class="active"><a href="/index#home">主页</a></li>
                    <li><a href="/index#about">关于</a></li>
                    <li><a href="/index#services">功能</a></li>
                    <li><a href="/index#meet-team">亲友</a></li>
                    <li><a href="/index#portfolio1">作品</a></li>
                    <li><a href="/index#contact">找我</a></li>
                    <li><a href="/blog">博客</a></li>
                    <li><a href="/singlepost">头条</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container blog">
        <div class="text-center homeport2">
            <div class="row">
                正在建设中...
            </div>
        </div>
    </div>

    <footer id="footer">
        <div class="container">
            <div class="row myfooter">
                <div class="col-sm-6"><div class="pull-left">
                    © Copyright Company 2019 | <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a>
                </div></div>
                <div class="col-sm-6">
                    <div class="pull-right">Designed by ATIS / More Templates <a href="http://www.cssmoban.com/" target="_blank" title="Template">Templates' Home</a> - Collect from <a href="http://www.cssmoban.com/" title="HTML Template" target="_blank">HTML Template</a></div>
                </div>
            </div>
        </div>
    </footer>
    <!-- jQuery -->
    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>